body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:750px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u70 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u71_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1115px;
}
#u71 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-40px;
  width:750px;
  height:1115px;
}
#u71_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:110px;
}
#u72 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1075px;
  width:750px;
  height:110px;
}
#u72_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:89px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u74 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:856px;
  width:666px;
  height:118px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
